---
name: ci_checks

on:

  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        description: Publish as latest
        default: true

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

env:
  GO_VERSION: '1.24'

jobs:

  ci:
    name: ci
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: write
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: go
        
    - name: Autobuild
      uses: github/codeql-action/autobuild@v4

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Check Go code formatting
      run: make check-fmt

    - name: Run Go linters
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        skip-cache: true

    - name: Run tests
      run: make test

    - name: Build release binaries
      if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || inputs.publish }}
      run: make bin

    - name: Update latest tag
      if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || inputs.publish }}
      uses: EndBug/latest-tag@v1.6.2
      with:
        ref: latest

    - name: Upload artifacts to latest release
      if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || inputs.publish }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: bin/*
        file_glob: true
        tag: latest
        overwrite: true
        body: "Latest binary builds"
        prerelease: true

